body{
	   font:14px/1 "Helvetica Neue",Helvetica,STHeiTi,sans-serif
}
html{
	font-size: 20px;
	text-align: center;
    font-style: none;
    
}

a{
	text-decoration: none;
    color: #333;
}

#container-wrap{
    max-width: 640px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


#header-main{
    position: fixed;
    box-shadow: 0 1px 12px rgba(0,0,0,.3);
    overflow: hidden;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 640px;
    height: 45px;
    background-color: #fafafa;
    z-index: 200000000000
}

.header-city{
	display: block;
    height: 100%;
    font-size: 16px;
    line-height: 45px;
    padding: 0 8px;
    position: relative;
   	float: left;
}

.triangle{
	display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid #58b531;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    margin: 1px 0 1px -1px;
    position: relative;
    top: 4px;
}

.search{
    width: 40%;
	height: 31px;
	background: #f8f8f8;
    border: 1px solid #dfdfdf;
    color: #999;
    margin-top: 6px;
    padding-left: 31px;
    border-radius: 2px;
    float: left;
}

.magnifier{
    font-size: 19px;
    position: absolute;
    top: 10px;
    left: 98px;
    color: #999;
}

.envelope{
    font-size: 24px;
    color: #999;
    top: 20xp;
    top: 11px;
    position: absolute;
    right: 8px;
}

.nav{
    margin-top: 45px;
    overflow: hidden
}

.nav-wrap{
    float: left;
    width: 100%;
    text-align: center;
    padding: 0.2rem 0 0.4rem;
    border-radius: 4px;
    overflow: hidden;
}

.nav-wrap ul li{
	float: left;
	list-style: none;
	width: 25%;
}

.nav-wrap img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}

.nav-wrap a{
    float: left;
    width: 25%;
    text-align: center;
    padding: .3rem 0 .4rem;
    border-radius: 4px;
}

.nav-wrap h1{
	width:48px;
    color: #666;
    font-size: 12px;
    margin-top: 4px;
}

.pic{
    margin-top: 8px;
    background-color: #fafafa;
    overflow: hidden;
    height: 117px
}
.pic img{
    width: 100%;
}

.box-nav{
    background: #fafafa;
    padding: 0 8px;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 0px;
}

.box-nav li{
	list-style: none;
    width: 50%;
    float: left;
    margin: 0 auto 3px;
    text-align: center;
    font-size: 16px;
    color: #666;
    padding-top: .375rem;
    line-height: 30px;
}

.box-nav span{
    display: inline-block;
    height: 100%;
    margin: 0 26px -3px;
}

.box-nav .scenery{
    background: url(../image/near-icon.png) no-repeat;
    background-size: 60px 60px;
    height: 19px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 26px;
    background-position: left bottom;
}


.box-nav .city{
    background: url(../image/near-icon.png) no-repeat;
    background-size: 60px 60px;
    height: 19px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 26px;
    background-position: right bottom;
}

.active span{
    color: #333;
    border-bottom: 3px solid #5cb03e;
    z-index: 20000000
}

.active .scenery{
    background-position: left top;
}

.active .city{
    background-position: right top;
}

.circum-wrap-1 a{
    float: left;
    width: 25%;
    color: #333;
    font-size: 14px;
    text-align: center;
    height: 53px;
    line-height: 53px;
    border-width: 0 1px 1px 0;
    border: 1px solid #ededed;
    box-sizing: border-box;
}

.hide{
    display: none
}

.circum-wrap-1 .more{
    color: #5cb03e;
    font-weight: 700;
}


mt-button{
    float: left;
    width: 33%;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-bottom: -1px;
    list-style: none;
    border: none;
    background-color: #fff;
}

.ticket span{
   display: inline-block;
    padding:16px 0 13px;
    border-bottom: 3px solid transparent;
}

.mint-button--small{
    padding: 0 33px;
}

.mint-button--default{
    color: #333;
    box-shadow:none;
    background-color: #fff;
}

.ticket-details img{
    width: 100%;
}


.ticket-details{
    position: relative;
    height: 277px;
}
.ticket-text{
    position: absolute;
    top: 8px;
    background: rgba(0,0,0,.3);
    font-size: 12px;
    color: #fff;
    line-height: 0px;
    padding: 12px 8px;
    height: 24px;
    box-sizing: border-box;
    right: 0;
    border-radius: 12px 0 0 12px;
}

#place{
	padding-top: 12px;
}

#pri{
	font-size: 16px;
	width: 10px;
	padding-top: 0px;
}
#sel{
	font-size: 24px;
	width: 37px;
    padding-top: 0px;
    letter-spacing: -2px;
    margin-left: -5px;
}
.price{
	position: absolute;
	bottom:104px;
	width:82px
}

.price-old{
	font-size: 12px;
    line-height: 18px;
    background: #f90;
    border-radius: 2px 2px 0 0;
    padding: 0 8px;
    color: #fff;
}

.price-new{
	font-size: 12px;
    color: #ccc;
    background: rgba(0,0,0,.8);
    border-radius: 0 0 0 2px;
    padding: 4px 8px;
    height: 30px;
}

.footer-more{
    text-align: left;
    padding-left: 8px
}

.footer-more h3{
    line-height: 26px;
    font-size: 16px;
    margin: 5px 0;
    font-weight: 400
}

.footer-more p{
    margin-top: 0;
    color: #999
}

.footer-more span{
    display: block;
    float: left;
    width: 40px;
    height: 17px;
    padding: 0;
    border-radius: 2px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 17px;

}

.footer-more .tag-oriange{
    background-color: #f60;
}

.footer-more .tag-blue{
    background-color: #00c0ff;
    margin-left: 10px
}

.footer-more .tag-distance{
    float: right;
    color: #999;
    width: 90px;
    font-size: 12px
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .iconfont{
    font-family:"iconfont" !important;
    font-size:27px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}